.d-none {
    display: none !important;
}

.section-main-content {
    width: calc(100% - 300px);
}

.section-basket {
    width: 300px;
}

.header-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fbf8f2;
}

.header-img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.2);
}

.logo-overlay {
    width: 100px;
    padding: 30px;
    background-color: #fbf6ede8;
    border: 12px solid #e76c1f;
    border-radius: 50%;
    margin-top: -120px;
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.2);
}

.h1-left {
    font-family: "Rubik_bold";
    font-size: 50px;
    color: #e76c1f;
}

.h1-right {
    font-family: "Rubik_bold";
    font-size: 50px;
    color: #363534;
}

.rating {
    width: 170px;
    padding: 2px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    background-color: #dddddd;
    border-radius: 5px;
    text-align: center;
    margin: 12px 0px 0px 0px;
}

.stars {
    color: #ffe600;
}

.header-slogan-bottom {
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 800;
    color: #666666;
    /* margin: 12px 0px 20px 0px; */
}

.logo-top {
    width: 180px;
    height: 60px;
    margin-left: 30px;
    background-image: url('../assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}

.navigation {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.navlink {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
    font-family: "Rubik";
}

.navlink:hover {
    font-weight: 800;
}

.item-group-banner {
    width: calc(100% + 200px);
    height: 80px;
    background-color: #e76c1f;
    display: flex;
    align-items: flex-end;
    padding-left: 100px;
    margin: 40px 0px 20px 0px;
}

h2 {
    font-family: "Rubik_bold";
    font-size: 28px;
    color: #ffffff;
}

.banner-icon {
    width: 80px;
    height: 80px;
    margin: 0px 15px 15px 0px;
}

.item-container {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    width: 75%;
    height: 160px;
    background-color: #fdeadc;
    border-radius: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.item-img {
    width: 90%;
    height: 80%;
    border-radius: 20px;
    padding: 15px;
    object-fit: cover;
    overflow: hidden;
}

.item-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.item-title {
    font-family: "Rubik_bold";
    font-size: 20px;
    color: #363534;
    padding-bottom: 6px;
}

.item-price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
}

.item-price {
    font-weight: 600;
    font-size: 19px;
    color: #363534;
}

.item-add-button {
    font-weight: 600;
    font-size: 16px;
    color: #363534;
    background-color: #fbf8f2;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.item-add-button:hover {
    filter: brightness(1.05);
    color: #e76c1f;
}

.item-add-button:active {
    transform: scale(0.96);
}

.item-added-info {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 16px;
    color: #e76c1f;
    background-color: #fbf8f2;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: default;
    transition: transform 0.1s ease;
}

.item-added-info2 {
    display: flex;
    flex-direction: row;
}

.added-basket-img {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #e76c1f;
    mask-image: url("../assets/icons/basket.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-composite: intersect;
    padding-left: 6px;
}

.item-added-button {
    font-weight: 600;
    font-size: 16px;
    color: #e76c1f;
    background-color: #fbf8f2;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.item-added-button:active {
    transform: scale(0.96);
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 950px) {
    .item-container {
        margin-left: 30px;
        width: 90%;
        height: 200px;
    }
}

@media screen and (max-width: 760px) {
    .container-header {
        justify-content: center;
    }

    .logo-top {
        margin-left: 0px;
    }

    .navigation {
        display: none;
    }

    .container-main {
        flex-direction: column;
    }

    .section-main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }

    h1 {
        text-align: center;
    }

    h2 {
        margin-block-start: 0;
        margin-block-end: 0.83em;
    }

    .header-slogan-bottom {
        font-size: 16px;
    }

    .rating {
        width: 150px;
        font-size: 16px;
    }

    .item-group-banner {
        width: 100%;
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin: 60px 0px 20px 0px;
    }

    .item-group-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .item-container {
        margin-left: 0px;
    }

    .item-img {
        justify-self: center;
    }

    .banner-icon {
        width: 60px;
        height: 60px;
        margin: 0;
    }

    .mobile-menu {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: #363534;
        z-index: 1000;
    }

    .navlink-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        /* color: #fdeadc;
        text-decoration: none;
        background-color: #363534;
        border: 0; */
    }

    .mobile-nav-icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .section-basket {
        width: 100%;
    }

    .basket {
        /* display: none; */
        position: fixed;
        bottom: 0;
        left: 0;
        top: auto;
        width: calc(100% - 40px);
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        margin-bottom: 50px;
    }

    .basket.is-open {
        display: flex;
    }

    .basket-added-items {
        height: 300px;
    }

    footer {
        padding-bottom: 50px;
    }

    .container-footer {
        font-size: 14px;
    }

    .item-container {
        grid-template-columns: 1fr;
        height: 300px;
    }

    .item-price-info {
        flex-direction: row;
    }
}