.section-main-content {
    width: calc(100% - 300px);
    min-height: 1500px;
    border: 1px solid blue;
}

.section-basket {
    width: 300px;
    border: 1px solid blue;
}

.header-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.header-img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.2);
}

.logo-overlay {
    width: 100px;
    padding: 30px;
    background-color: #fbf6ed;
    border: 12px solid #e76c1f;
    border-radius: 50%;
    margin-top: -120px;
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.2);
}

.header-slogan-top {
    margin-top: 20px;
    font-family: "Rubik_bold";
    font-size: 50px;
    color: #ffffff;
    background-color: #e76c1f;
    border-radius: 51px;
    padding: 13px 25px;
    box-shadow: 0 9px 17px rgba(0, 0, 0, 0.2);
}

.rating {
    width: 170px;
    padding: 2px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    background-color: #dddddd;
    border-radius: 5px;
    margin-top: 16px;
    text-align: center;
}

.stars {
    color: #ffe600;
}

.header-slogan-bottom {
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 800;
    color: #666666;
    margin: 12px 0px;
}

.logo-top {
    width: 180px;
    height: 60px;
    margin-left: 30px;
    background-image: url('../assets/img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(1);
}

.navigation {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.navlink {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
    font-family: "Rubik";
}

.navlink:hover {
    font-weight: 800;
}