.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 400px;
    background-color: #363534;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 0;
    position: sticky;
    padding: 20px;
}

.basket-headline {
    font-family: "Rubik_bold";
    font-size: 24px;
    color: #fdeadc;
    margin-bottom: 15px;
}

.basket-desc {
    font-size: 16px;
    color: #fdeadc;
    text-align: center;
    margin-bottom: 20px;
}

.empty-basket-img {
    display: block;
    width: 120px;
    height: 120px;
    margin-top: 50px;
    background-color: #fdeadc;
    mask-image: url("../assets/icons/basket.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-composite: intersect;
}