.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 480px;
    background-color: #363534;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 0;
    position: sticky;
    padding: 20px;
    margin-top: 40px;
}
.basket-headline {
    font-family: "Rubik_bold";
    font-size: 24px;
    color: #fdeadc;
    margin-bottom: 15px;
}
.basket-desc {
    font-size: 16px;
    color: #fdeadc;
    text-align: center;
    margin-bottom: 20px;
}
.empty-basket-img {
    display: block;
    width: 120px;
    height: 120px;
    margin-top: 50px;
    background-color: #fdeadc;
    mask-image: url("../assets/icons/basket.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    mask-composite: intersect;
}
.basket-added-items {
    overflow-y: auto;
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
    padding-right: 5px;
}
.basket-added-items::-webkit-scrollbar {
    width: 10px;
}
.basket-added-items::-webkit-scrollbar-thumb {
    background: #fdeadc;
    border-radius: 6px;
}
.basket-added-item {
    font-weight: 800;
    background-color: #fdeadc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.basket-desc-qty-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0px 0px;
}
.basket-upper-area {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.basket-dish {
    width: 90%;
}
.basket-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fdeadc;
    font-weight: 800;
    font-size: 16px;
}
.basket-amount-table1 {
    width: 95%;
    border-collapse: collapse;
    margin-top: 10px;
}
.basket-amount-table1 td:first-child {
    text-align: left;
}
.basket-amount-table1 td:last-child {
    text-align: right;
}
.basket-amount-table2 {
    width: 95%;
    border-collapse: collapse;
    margin-top: 10px;
}
.basket-amount-table2 td:first-child {
    text-align: left;
    padding-top: 5px;
    border-top: solid 2px #fdeadc;
}
.basket-amount-table2 td:last-child {
    text-align: right;
    padding-top: 5px;
    border-top: solid 2px #fdeadc;
}
.basket-order-button {
    width: 85%;
    padding: 12px;
    margin-top: 20px;
    background-color: #e76c1f;
    color: #fdeadc;
    font-weight: 700;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.1s ease;
}
.basket-order-button:hover {
    filter: brightness(1.05);
}
.basket-order-button:active {
    transform: scale(0.96);
}
.qtyButton {
    font-size: 22px;
    background-color: #fdeadc;
    border: 0;
    padding: 0px 5px;
    cursor: pointer;
}
.set-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.qtyButtontrash {
    height: 15px;
    object-fit: cover;
    border: 0px;
    cursor: pointer;
    padding: 0px 5px;
}
.qtyButtontrashUpRight {
    height: 15px;
    object-fit: cover;
    border: 0px;
    cursor: pointer;
    padding: 0px 5px;
    left: 0;
}
.close-button-area {
    display: none;
    justify-content: flex-end;
    width: 100%;
}
.close-button {
    width: 50px;
    height: 50px;
    color: #fdeadc;
    font-size: 24px;
    font-weight: 600;
    text-align: end;
    padding-right: 10px;
    background-color: #363534;
    border: 0;
    cursor: pointer;
}