dialog {
    width: 340px;
    height: 200px;
    background-color: #363534;
    border: 0;
    border-radius: 25px;
}

.dialog-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-h2 {
    color: #fdeadc;
    font-size: 28px;
    font-weight: 600;
}

.dialog-text {
    color: #fdeadc;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.delivery-img {
    width: 80px;
    transform: scaleX(-1);
}

.close-btn-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close-btn {
    background-color: #363534;
    border: 0;
    color: #fdeadc;
    font-size: 22px;
    margin-right: 10px;
    cursor: pointer;
}