body {
    margin: 0;
    font-family: "Rubik";
    height: 100dvh;
    scroll-behavior: smooth;
    overflow-y: auto;
}

header {
    height: 100px;
    background-color: #eeab69;
}

.container-header {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
}

main {
    flex: 1;
    background-color: #ffffff;
    overflow: visible;
}

.container-main {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
}

footer {
    height: 100px;
    background-color: #eeab69;
}

.container-footer {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
}