body {
    margin: 0;
    font-family: "Rubik";
    height: 100dvh;
    scroll-behavior: smooth;
    overflow-y: auto;
}

header {
    height: 100px;
    background-color: #e76c1f;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    flex: 1;
    background-color: #ffffff;
    overflow: visible;
}

.container-main {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border-left: 1px solid red;
    border-right: 1px solid red; */
}

footer {
    height: 130px;
    background-color: #e76c1f;
}

.container-footer {
    display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 800;
    color:#ffffff;
}